<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    {{> header}}
    <p>Hi {{screamIt name}}</p>
    <p>You are now {{age}} years old.</p>
    <br />
    {{> footer}}
</body>

</html>