<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h2>Ooops, something went wrong...</h2>
        <p>Page is under maintenance. Please come back later.</p>
    </body>
</html>